github "SnapKit/SnapKit" ~> 4.0.0
github "0xced/XCDYouTubeKit" ~> 2.7.1
github "Alamofire/Alamofire" ~> 4.7
github "onevcat/Kingfisher" ~> 4.0
github "ReactiveX/RxSwift" ~> 4.0
github "ranesr/SwiftIcons" ~> 2.3.2
github "realm/realm-cocoa"
github "scinfu/SwiftSoup"
github "saoudrizwan/Disk"
github "PiXeL16/RevealingSplashView"
github "xmartlabs/Eureka" ~> 5.0
github "utahiosmac/Marshal"
github "ra1028/DifferenceKit"

